* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
}

#container {
   background-color: #cfcfce; 
   width: 100%;
   
}
header{
background: linear-gradient(to right, #81a6cc, #104f8f);
height: 140px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 20px;
}

.logo img{
max-width: 130px;
height: auto;
transition: .4s;
}

.logo img:hover{
transform: scale(1.07);
}

.menuprincipal{
display: flex;
gap: 20px;
list-style-type: none;
}

li a:hover{
  color: #000000;
  text-shadow: 0px 0px 7px rgba(0,0,0,1);
  font-weight: bold;
}

li a{
text-decoration: none;
}

.menuprincipal a{
font-size: 18px;
/* margin: 20px; */
color: #f2f2f2;
}

.login {
list-style-type: none;
}
.login img{
height: 18px;
width: 18px;
}
.login a{
margin: 15px;
font-size: 18px;
color: #f2f2f2;
}
.login i{
font-size: 18px;
color: #f2f2f2;
}

#barraPreta {
  height: 25px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), black);
  margin-bottom: 50px;
}

/*- CAIXA DE PESQUISA -*/
#divBusca{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background:linear-gradient(to right, #8baad4, #8baad4, #0c2c4c);
  border:solid 2px #0c2c4c;
  border-radius:15px;
  width:300px;
  height: 35px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:20px;
  font-size:18px;
  border:none;
  outline: none;
  height:30px;
  width:260px;
  text-transform: uppercase;
  font-weight: bold;
}

#divBusca img {
  width: 27px;
  height: 27px;
  margin: 1px;
  right: 5px;
  background-color: #92accc;
  border-radius: 9px;
  padding: 2px;
  margin: 2px;
}

#divBusca #btnBusca {
  cursor: pointer;
}

.cart img{
  height: 40px;  
}

#bx {
  background-color: #0c2c4c;
}

/*- Menu -*/
.menu {
display: flex;
}

.menu a{
color: #2c2c2c;
font-size: 16px;
padding: 10px 20px;
}

/* deixa menu mobile escondido*/
.mobile-menu-icon{
  display:none;
}

.mobile-menu{
  display: none;
}

/* mostra MENU MOBILE quando atinge 730 px largura e esconde os outros*/
@media screen and (max-width: 748px){

   .menuprincipal, .login, #divBusca{
    display: none;
  }

  .cart a{
    display: none;
  }

  /* mostra menu hamburger */
 .mobile-menu {
  position: absolute;
  top: 120px; /* altura do botão */
  right: 80px;
}
  /* mostra icone */
  .mobile-menu-icon{
    display: block;
  }

  .mobile-menu-icon button{
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mobile-menu li{
    padding: 6px;
    background-color: rgb(47, 119, 182);
    color: white;
    font-weight: bold;
  }
  
  .mobile-menu .m-menuprincipal, .mobile-menu .m-login {
    display: flex;
    flex-direction: column;
    align-self: center 
  }

  #m-nomeCliente{
    font-size: 15px;
    font-style: normal;
  }

  .mobile-menu .m-cart{
    display: flex;   
  }

  .open { /* abre a lista do menu hamburger */
    display: flex;    
  }
}
/* FIM MENU MOBILE*/


/* ############# AQUI DO FORMULARIO DE CADASTRO ###################*/
/* Campos de entrada de dados */
#nome, #cpf, #senha, #repetir-senha, #cep, #bairro, #localidade, #uf {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

.btnRegistrar {
background-color: #04AA6D;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.btnRegistrar:hover {
opacity:1;
}

/* cor azul nos links */
.form a {
background-color: white;
border-radius: 7px;
padding: 2px;
color: dodgerblue;
}

.login-p a{
  background-color: white;
  border-radius: 7px;
  padding: 2px;
  color: dodgerblue;
}


/* contact-section */
.contato{
background: linear-gradient(to right, #81a6cc, #104f8f);
}

.suport a{
text-decoration: none;
}

.info-contato{
display: flex;
align-items: center;
justify-content: space-evenly;
}
.info img{
width: 140px;
height: auto;
}

.info {
margin: 20px;

}
.info-contato h4{
color: black;
font-size: 14px;
text-transform: uppercase;
margin-bottom: 10px;
}
.info-contato p{
color: black;
font-size: 15px;
font-weight: 400;
text-transform: capitalize;
line-height: 1.5;
margin-bottom: 10px;
cursor: pointer;
}
.social-icon i{
color: black;
margin-right: 10px;
font-size: 20px;
}
.rodape{
background-color: #edfff1;
text-align: center;
padding: 20px;
}
.rodape p{
color: black;
text-transform: capitalize;
}

#logado {
font-size: 10px;
}

.bem-vindo {
display: flex;
}
#logoutBtn {
background-color: #0c2c4c00;
border: #0c2c4c00;
padding: 5px;
transition: .4s;
}
  
#logoutBtn:hover{
transform: scale(1.20);
}

.bem-vindo h1{
color: white;
font-size: 16px;
}


/*-----------------------------MENU LOGIN.html E SENHA-----------------------------*/
.login {
  list-style-type: none;
}
.login img{
  height: 18px;
  width: 18px;
}
.login a{
  margin: 15px;
  font-size: 18px;
  color: #f2f2f2;
}
.login i{
  font-size: 18px;
  color: #f2f2f2;
}


.conteudo-central {
display: flex;
justify-content: center;
padding: 50px;
}
/*-----------------------------LOGiN-----------------------------*/
#conteudo-login {
background: linear-gradient(to right, #81a6cc, #104f8f);
padding: 50px;
border-radius: 20px;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.conteudo-central #cpf , #senha, #repetir-senha {
background:linear-gradient(to right, #8baad4, #8baad4, #0c2c4c);
border:solid 2px #0c2c4c;
border-radius: 10px;
font-weight: bold;
}
.conteudo-central h2 {
text-align: center;
text-transform: uppercase;
font-weight: bold;
color: white;
}

.conteudo-central #btnLogin {
background:#103a64;
border:solid 2px #0c2c4c;
color: white;
font-weight: bold;
margin: 10px;
border-radius: 5px;
padding: 5px;
font-size: 12px;
justify-content: center;
transition: .4s;
cursor: pointer;
}

.conteudo-central #btnLogin:hover{
  background: #237ad1;
  color: black;
  transform: scale(1.07);
  font-weight: bold;
}

/*-----------------------------CADASTRO-----------------------------*/

.formulario {
display: flex;
flex-direction: column;
padding: 50px;
background: linear-gradient(to right, #81a6cc, #104f8f);
border-radius: 20px;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
margin-left: 20%;
margin-right: 20%;
margin-bottom: 5%;
}

#nome, #cpf, #senha, #repetir-senha, #cep, #bairro, #localidade, #uf{
background:linear-gradient(to right, #8baad4, #8baad4, #0c2c4c);
border:solid 2px #0c2c4c;
border-radius: 10px;
font-weight: bold;
}

.btnRegistrar{
background:#103a64;
border:solid 2px #0c2c4c;
color: white;
font-weight: bold;
border-radius: 10px;
transition: .4s;
}

.btnRegistrar:hover{
background: #237ad1;
color: black;
transform: scale(1.03);
font-weight: bold;
}

.formulario form {
justify-content: center;
}

#logado {
  font-size: 10px;
}

.bem-vindo {
  display: flex;
}
#logoutBtn {
  margin-left: 20px;
}

.cart img{
 height: 40px; 
 margin-right: 50px;    
}

li a:hover{
  color: #000000;
  text-shadow: 0px 0px 7px rgba(0,0,0,1);
  font-weight: bold;
}
