* {
    margin: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

#container {
     background-color: #cfcfce; 
     /* background-image: url(./src/background.png); 
     background-position: center;
     background-repeat: no-repeat; */
}
header{
  background: linear-gradient(to right, #81a6cc, #104f8f);
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
}

.logo img{
  max-width: 130px;
  height: auto;
  margin-left: 50px;
}

.menuprincipal{
  display: flex;
  list-style-type: none;
}
li a{
  text-decoration: none;
}

.menuprincipal a{
  font-size: 18px;
  margin: 20px;
  color: #f2f2f2;
}

.login {
  list-style-type: none;
}
.login img{
  height: 18px;
  width: 18px;
}
.login a{
  margin: 15px;
  font-size: 18px;
  color: #f2f2f2;
}
.login i{
  font-size: 18px;
  color: #f2f2f2;
}

#barraPreta {
    height: 25px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), black);
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    margin-bottom: 50px;
}

/*- CAIXA DE PESQUISA -*/

#divBusca{
    background:linear-gradient(to right, #8baad4, #8baad4, #0c2c4c);
    border:solid 2px #0c2c4c;
    border-radius:15px;
    width:300px;
    height: 35px;
    margin-right: 50px;
    position: relative;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:20px;
    font-size:18px;
    border:none;
    outline: none;
    height:30px;
    width:260px;
    text-transform: uppercase;
    font-weight: bold;
}

#divBusca img {
    width: 27px;
    height: 27px;
    margin: 1px;
    position: absolute;
    right: 5px;
    background-color: #92accc;
    border-radius: 9px;
    padding: 2px;
    margin: 2px;
}
/*- Menu -*/

.menu {
  display: flex;
}

.menu a{
  color: #2c2c2c;
  font-size: 16px;
  padding: 10px 20px;
}

/*- Slideshow -*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 20px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* - Fim Slideshow -*/

.texto-centro h2{
  color: #111;
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.produtos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
  padding: 20px 7%;
}

.prod{
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  border: 5px;
  border-radius: 15px;
  transition: .4s;
}
.prod:hover{
  background-color: #242424;
  transform: scale(1.05);
}
.prod img{
  width: 100%;
  height: auto;
  border: 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.preco h4{
  color: #111;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  transition: .4s;
}

.prod:hover > .preco h4{
  padding: 4px;
  color: white;
}

.preco p{
  color: #151515;
  font-size: 14px;
  font-weight: 600;
  transition: .4s;
}

.prod:hover > .preco p{
  padding: 4px;
  color: white;
}

.estrelas{
  color: #111;
  transition: .4s;
}

.prod:hover > .estrelas{
  padding: 4px;
  color: white;
}

#carrinho{
  cursor: pointer;
}

/* contact-section */
.contato{
  background: linear-gradient(to right, #81a6cc, #104f8f);
}
.info-contato{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.info img{
  width: 140px;
  height: auto;
}

.info {
  margin: 20px;

}
.info-contato h4{
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info-contato p{
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
}
.social-icon i{
  color: black;
  margin-right: 10px;
  font-size: 20px;
}
.rodape{
  background-color: #edfff1;
  text-align: center;
  padding: 20px;
}
.rodape p{
  color: black;
  text-transform: capitalize;
}

#logado {
  font-size: 10px;
}

.bem-vindo {
  display: flex;
}
#logoutBtn {
  margin-left: 20px;
}


/* aqui começa o carrinho */

.carrinho-principal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 30vh;
}

.conteudo-carrinho{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.img-carrinho{
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  margin-right: 5px;
}

.detalhes-do-carrinho{
  display: flex;
  flex-direction: column;
}

.titulo-carrinho{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.produto-nome{
  font-size: 1.5rem;;
  text-transform: uppercase;
}

.produto-preço{
  font-weight: 600;
}

.quantidade-carrinho{
  border: 1px solid rgb(97, 148, 242);
  outline-color: rgb(187, 177, 177);
  width: 2.5rem;
  height: 1.7rem;
  text-align: center;
}

.quantidade-carrinho{
  border: 1px solid;
  outline-color: rgb(85, 82, 82);
  font-size: 1rem;
  font-weight: 600;
}

.remover-do-carrinho{
  font-size: 34px;
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.total-titulo{
  font-size: 1.5rem;
  font-weight: 600;
}

.preco-total{
  margin-left: 5px;
  margin-top: 6px;
}

.btnConfirma{
  display: flex;
  margin: 1.2rem auto ;
  padding: 12px 20px;
  border: none;
  background-color: #417fbd;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btnConfirma:hover{
  background: var(--text-color);
}

.btnRetornarLoja{
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 12px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* aqui termina o carrinho */